#superior{
    width: 100%;
    height: 10vh;
}

.interior-descripcion{
    width: 65%;
    height: auto;
    font-size: 130%;
    color: rgb(61, 19, 4);
    background-color: black;
    background-image: url(../IMG/sistema-solar-06.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 60%;
    margin: 0 auto 0 auto;
    background-position-y:20%;
    background-position-x: center;
}

@keyframes transparencia {
    from{
        background-color: rgb(145, 97, 43, 0);
    }
    to{
        background-color: rgba(145, 97, 43, 0.7);
    }
    
}

.interior-descripcion-texto{
    height: 100%;
    background-color: rgb(145, 97, 43, .9);
    padding: 3%;
    animation-name: transparencia;
    animation-duration: 5s;
}


.interiores-lista{
    background-color: grey;
}

.planeta{
    width: 100%;
    height:500px;
    background-color: rgb(145, 97, 43);
}

.planet-titulo{
    font-size: 3vw;
    color: red;
    text-align: center;
}

.planet-texto{
    background-color: rgb(118, 82, 151, .4);
    float: right;
    width: 65%;
    font-size: 1.6vw;
    padding-left: 1%;
}

.planet-img{
    float: left;
    width: 20%;
}

.planet-img img{
    width: 100%;
}

@media all and (max-width:800px){

    #superior{
        width: 80%;
        height: 4vh;
    }
    .interior-descripcion{
        width: 80%;
        font-size: 95%;
    }

    .planeta{
        height: 95vh;
    }

    .planet-img{
        float: none;
        width: 40%;
    }
    
    
    .planet-texto{
        background-color: rgb(118, 82, 151, .4);
        float: none;
        width: 90%;
        font-size: 2.5vw;
        padding-left: 1%;
    }
}
@media all and (max-width:400px){
    .planeta{
        height: 45vh;
    }

}